doctype html
html
  head
    title #{user} Arbeitstage bei Neopoly
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/calendar.min.css')
  body
    block content
    block js
